<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>

<body class="edit-background">
	<!-- Header -->
	<% if(!logueado) { %>
	<%- include('../views/partials/header') %>
	<% } else { %>
	<%- include('../views/partials/headerlog') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container-edit"></div>
			<form class="container-form-edit" action="/index/edit-profile" method="POST" enctype="multipart/form-data">
				<h2 class="titulo">EDITA TU PERFIL</h2>
				<p>

					<input type="text" name="nombre" id="nombre" class="nombre" placeholder="nombre completo">
				</p>
				<p>

					<input type="email" name="email" id="mail" class="email" placeholder="EMAIL" >
				</p>
				<p>

					<input type="dni" name="dni" id="dni" class="dni" placeholder="DNI" >
				</p>
				<p>

					<input type="date" name="fechanac" id="fechanac" class="fecha" placeholder="Fecha de nacimiento">
				</p>
				<p>
					
					<input type="password" name="contrase単a" id="contrase単a" class="pwd" pattern=".{6,}" placeholder="Contrase単a" > 
				</p>
				<p>
					
					<input type="file" name="img" id="contrase単a" class="pwd" pattern=".{6,}" placeholder="Imagen" > 
				</p>
				
				<p>
					
					<input type="hidden" name="id" id="nombre"  placeholder="nombre del producto" value="<%= usuario.id %>"> 
				</p>
				<br>
				<br>
				
				<p><input class="submit" type="submit" value="REALIZAR CAMBIOS"></p>	
				
			</form>

	</div> </div>

			<!-- footer -->
			<%- include('../views/partials/footer') %>
			<!-- /footer -->

</body>

</html>