<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body>
	<!-- Header -->
	<% if(!logueado) { %>
<%- include('../views/partials/header') %>
<% } else { %>
<%- include('../views/partials/headerlog') %>	
<% } %>
	<!-- /Header -->
	
	<% if(error) {%>
		<span>Hubo un ERROR: <%=error%></span><br><br><br><br>
	  <% } %> 
	 
	<!-- Banner -->

	<div class="banner">
		
			<img src="" alt="">
		
	</div>
	<!-- /Banner -->
	 

	<!-- Novedades -->
	<div class="container products-wrapper">

		<div class="row">
			<% if(logueado) {%>
				<h1 class="products-title"style="text-transform: uppercase; text-align: center;"> Bienvenid@ <%=miUsuario.nombre%> <%=miUsuario.apellido%></h1><br><br><br><br>
			  <% } %> 
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
		
			<!-- Show the "ultimos" products -->
			<% for (let index = 0; index < 4; index++) { %>
				<% const element = productos[index] ; %>
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/index/product/<%=element.id%>">
							<figure class="product-box_image">
								<img  src="/images/products/<%= element.imagen %>" alt="">
							</figure>
							<article class="product-box_data">
								<h2> <%= element.nombre %> </h2>
								<p><%= element.descripcion %></p>
								<p>Usuario: <%= element.usuario.nombre %></p>
								<p>Comentarios: <%= element.comentario.length %> </p>
							</article>
						</a>
					</section>
				</div>
			<% }%> 
		</div>
	</div>

	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más viejos</h2>
			</div>
			<% for (let index = 4; index < 8; index++) { %>
				<% const element = productos2[index] ; %> 
		
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/index/product/<%=element.id%>">
							<figure class="product-box_image">
								<img  src="/images/products/<%= element.imagen %>" alt="">
							</figure>
							<article class="product-box_data">
								<h2> <%= element.nombre %> </h2>
								<p><%= element.descripcion %></p>
								<p><%= element.usuario.nombre %></p>
								<p>Comentarios: <%= element.comentario.length %> </p>
							</article>
						</a>
					</section>
				</div>
			<% }%> 
		</div>
	</div>



	<!-- footer -->
<%- include('../views/partials/footer') %>
	<!-- /footer -->
</body>	
</html>