<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body>
	<!-- Header -->
<%- include('../views/partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.nombre%></h2> 
			<p class="product-detail-description"> de
				<a href="/index/profile"> Belen Martinez</a>
			</p>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.cover%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion%> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/fotoperfil1.jpeg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/index/profile">Sofía Gonzalez: </a> </strong>
								Muy linda la campera! Pero, ¿tiene alguna falla?</p>
								<p class="fecha-publicacion"> 03/05/2021</p>
							</div>
						</article>
						<article>
							<img src="/images/fotoperfil2.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/index/profile">Maria Sanchez: </a> </strong>
									Divina! Muy recomendable</p>
									<p> 03/08/2019</p>
							</div>
						</article>
						<article>
							<img src="/images/fotoperfil3.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/index/profile">Lola Rodriguez: </a> </strong>
									Muy buena calidad
									</p>
									<p> 18/03/2020</p>
							</div>
						</article>
						<article>
							<img src="/images/fotoperfil4.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/index/profile">Agus Bosch: </a> </strong>
									¿De que temporada es?</p>
									<p> 09/05/2021</p>
							</div>
						</article>
						<article>
							<img src="/images/fotoperfil5.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/index/profile">Valen Perez: </a> </strong>
									Me encantan este tipo de camperas, ¿el envío llega a capital?</p>
									<p class="fecha-publicacion"> 03/05/2021</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('../views/partials/footer') %>
	<!-- /footer -->

</body>	
</html>